<!DOCTYPE html>
<html>
<body>
    <h2 class="text-lg">Zones in <%= state %></h2>
    <div class="grid grid-cols-3 gap-x-4 mt-3">
      <% for (const zone of zones) { %>
        <a href="#" hx-get="/current-weather/<%=zone.properties.id %>" hx-target="#weather">
          <%= zone.properties.name %></a>
      <% } %>
    </div>

</body>
</html>